<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base</key>
	<string>http://localhost:8000/api/</string>
	<key>Users</key>
	<string>user/</string>
	<key>Messages</key>
	<string>message/</string>
</dict>
</plist>
